@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat+Alternates:wght@300;400&family=Orbit&family=Playfair&family=Raleway:wght@300;600&family=Rubik+Moonrocks&display=swap');


body {
  background-color: rgb(52, 52, 52);
  color: rgb(240, 240, 240);
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

form {
  width: 50%;
  background-image: linear-gradient(rgb(212, 132, 241), rgb(104, 13, 87));
  border: 1px solid white;
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
}

.card {
  margin: 5px;
  min-width: 18rem;
}

.btn {
  margin: 5px;
}

.top-row {
  width: 100%;
  flex: 0 0 100%;
  margin: 20px;
  text-align: center;
}

.order-top {
  width: 100%;
}

.form-control {
  margin: 10px;
}

.btn-primary {
  background-image: linear-gradient(rgb(211, 246, 109), rgb(94, 171, 31));
  border: 1px solid white;
}

.btn-danger {
  background-color: black;
  border: 1px solid white;
}

.title {
  font-family: 'Bungee Shade', cursive;
  font-size: 90px;
  margin: 15px;
}

#logout-logo {
  width: 40%;
  align-self: center;
  margin: 15px;
}

#google-auth-signin {
  width: 20%;
  align-self: center;
}

#logout-container {
  display: flex;
  flex-direction: column;
}

#logo {
  text-align: start;
}

#formContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#viewContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

#welcome-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pizza-pic {
  max-width: 13rem;
  margin: 15px 0 15px 0;
}

#card-icons {
  display: flex;
  justify-content: space-around;
}

#order-detail-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#order-detail-card {
  align-items: center;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#order-detail-card-body {
  padding-top: 0;
  padding-bottom: 40px;
}

#order-detail-card-items {
display: flex;
flex-direction: row;
justify-content: space-between;
}

#order-detail-btns {
  width: 100%;
}

#order-cards-btns {
  width: 70%;
}

#filterBy, #search {
  align-self: center;
  width: 50%;
}

#filter-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35px;
}

#revenue-page {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  margin: 30px;
}

#showMenuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selectorMenuDiv {
  margin: 0 auto;
  display: flex;
  flex-flow: wrap row;
  width: 50%;
  justify-content: center;
}

#clearFilter{
  width: 10%;
  justify-content: center;
  margin: auto;
}
