@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat+Alternates:wght@300;400&family=Orbit&family=Playfair&family=Raleway:wght@300;600&family=Rubik+Moonrocks&display=swap');


body {
  background-color: rgb(52, 52, 52);
  color: rgb(240, 240, 240);
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

form {
  width: 50%;
  background-image: linear-gradient(rgb(212, 132, 241), rgb(104, 13, 87));
  border: 1px solid white;
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
}

.card {
  margin: 5px;
}

.btn {
  margin: 5px;
}

.top-row {
  width: 100%;
  flex: 0 0 100%;
  margin: 20px;
  text-align: center;
}

.form-control {
  margin: 10px;
}

.btn-primary {
  background-image: linear-gradient(rgb(211, 246, 109), rgb(94, 171, 31));
  border: 1px solid white;
}

.btn-danger {
  background-color: black;
  border: 1px solid white;
}

#logo {
  text-align: start;
}

#formContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#viewContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

#welcome-title {
  font-family: 'Bungee Shade', cursive;
  font-size: 100px;
  margin: 10px;
}

#welcome-buttons {
  display: flex;
  flex-direction: column;
  width: 20%;
}

#pizza-pic {
  max-width: 13rem;
}
